.footer {
  @apply mt-auto bottom-0 w-[100%] bg-codelife-black-500;
}

.footer:before {
  content: '';
  display: flex;
  /* sizing */
  width: 100%;
  height: 60px;
  /* positioning */
  position: relative;
  top: -50px;
  /* position bg image above .footer background */
  /* background sizing and default image */
  background-image: url("/ground.png");
  background-size: contain;
  background-position: -10% bottom;
  background-repeat: repeat-x;
}

.inner-footer {
  display: flex;
  padding: 0 2rem 3rem;
  flex-direction: column;
  justify-content: space-between;

}

@media (min-width: 640px) {
  .inner-footer {
      flex-direction: row;
  }
}



.nav-links-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;



}

@media (min-width: 768px) {
  .nav-links-footer {
      gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .nav-links-footer {

      gap: 2rem;
  }
}

@media (min-width: 640px) {
  .nav-links-footer {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.nav-footer-section {
  margin-top: 0.5rem;
}

.nav-footer-section h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: rgb(221 223 223/0.9)
}

.nav-footer-section ul {
  padding-top: 0.5rem;
}

.nav-footer-section li {
  color: #3bd9cc;
  font-weight: 500;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  opacity: 0.8;
  border-bottom-width: 1px;
  border-color: #596161;
}

@media (min-width: 640px) {
  .nav-footer-section li {
      border-bottom-width: 0;
  }
}

.nav-footer-section li:hover {
  opacity: 1;
  text-decoration: none;
}

.footer-partners-section {
  display: flex;
  padding-top: 1rem;
  justify-content: space-around;
}

.footer-partners-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.25rem;


}

@media (min-width: 640px) {
  .footer-partners-container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.footer-partners-datawheel {
  display: flex;
  padding-right: 1rem;
  justify-content: space-around;
  align-items: center;
  border-right-width: 1px;
  border-color: #596161;


}

@media (min-width: 640px) {
  .footer-partners-datawheel {
      grid-column: span 1 / span 1;
  }
}

.footer-partners-datawheel span {
  display: flex;
  font-weight: 500;
  justify-content: center;
  color: #d2d5d5;

}


.footer-partners-helpfull-container {
  display: grid;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 0.25rem;

}

@media (min-width: 640px) {
  .footer-partners-helpfull-container {

      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-start: 2;
      grid-column-end: 4;
      grid-template-rows: repeat(2, minmax(0, 1fr));
  }
}

.footer-partners-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-partners-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.footer-partners-item a:hover {
  opacity: 1;
}

.footer-partners-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 100;
  color: #d2d5d5;
}

.footer-partners-compet-text {
  padding-left: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.25rem;
  grid-column-start: 2;
  grid-column-end: 4;
  color: #d2d5d5;

}

.footer-partners-compet-logo {
  min-width: 2.5rem;
  grid-column: span 1 / span 1;
  width: fit-content;
}

.socials-container {
  border-top-width: 1px;
  border-color: #d2d5d5;
  padding-bottom: 1rem;
}